# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
/Week_03/boot-demo/HELP.md
/Week_03/boot-demo/mvnw
/Week_03/boot-demo/mvnw.cmd
/Week_03/boot-demo/.mvn/

Week_03/boot-demo/target/

Week_05/fifth-week-home-work-spring/target/

Week_05/fifth-week-home-work-spring-boot/.mvn/

Week_05/fifth-week-home-work-spring-boot/mvnw

Week_05/fifth-week-home-work-spring-boot/mvnw.cmd

Week_05/fifth-week-home-work-spring-boot/HELP.md

Week_05/fifth-week-home-work-spring-boot-starter/target/

Week_05/fifth-week-home-work-spring-boot-starter/.mvn/

Week_05/fifth-week-home-work-spring-boot-starter/mvnw

Week_05/fifth-week-home-work-spring-boot-starter/mvnw.cmd

Week_05/fifth-week-home-work-spring-boot-starter/HELP.md

Week_07/aop-auto-data-source/.mvn/

Week_07/aop-auto-data-source/mvnw

Week_07/aop-auto-data-source/mvnw.cmd

Week_07/multiple-data-source/.mvn/

Week_07/multiple-data-source/mvnw

Week_07/multiple-data-source/mvnw.cmd

logs/

Week_08/syw-ss-xa-example/.mvn/

Week_08/syw-ss-xa-example/mvnw.cmd

Week_08/syw-ss-xa-example/mvnw

Week_04/fourth-week-home-work/target/

Week_03/netty-gateway/target/

Week_09/rpc01/rpcfx-core/target/

Week_09/rpc01/rpcfx-demo-api/target/

Week_09/rpc01/rpcfx-demo-consumer/target/

Week_09/rpc01/rpcfx-demo-provider/target/
