# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
/Week_03/boot-demo/HELP.md
/Week_03/boot-demo/mvnw
/Week_03/boot-demo/mvnw.cmd
/Week_03/boot-demo/.mvn/

Week_03/boot-demo/target/

Week_05/fifth-week-home-work-spring/target/

Week_05/fifth-week-home-work-spring-boot/.mvn/

Week_05/fifth-week-home-work-spring-boot/mvnw

Week_05/fifth-week-home-work-spring-boot/mvnw.cmd

Week_05/fifth-week-home-work-spring-boot/HELP.md

Week_05/fifth-week-home-work-spring-boot-starter/target/

Week_05/fifth-week-home-work-spring-boot-starter/.mvn/

Week_05/fifth-week-home-work-spring-boot-starter/mvnw

Week_05/fifth-week-home-work-spring-boot-starter/mvnw.cmd

Week_05/fifth-week-home-work-spring-boot-starter/HELP.md
