# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
/Week_03/boot-demo/HELP.md
/Week_03/boot-demo/mvnw
/Week_03/boot-demo/mvnw.cmd
/Week_03/boot-demo/.mvn/

Week_03/boot-demo/target/
